@font-face {
    font-family: 'Yapari';
    font-style: normal;
    font-weight: 400;
    src: url(./../fonts/Yapari-Regular.ttf);
}

@font-face {
    font-family: 'Yapari';
    font-style: normal;
    font-weight: 500;
    src: url(./../fonts/Yapari-SemiBold.ttf);
}

@font-face {
    font-family: 'Yapari';
    font-style: normal;
    font-weight: 600;
    src: url(./../fonts/Yapari-Bold.ttf);
}

@font-face {
    font-family: 'Yapari';
    font-style: normal;
    font-weight: 700;
    src: url(./../fonts/Yapari-ExtraBold.ttf);
}