@font-face {
  font-family: "Yapari";
  font-style: normal;
  font-weight: 400;
  src: url(./../fonts/Yapari-Regular.ttf);
}

@font-face {
  font-family: "Yapari";
  font-style: normal;
  font-weight: 300;
  src: url(./../fonts/Yapari-MediumWide.ttf);
}

@font-face {
  font-family: "Yapari";
  font-style: normal;
  font-weight: 500;
  src: url(./../fonts/Yapari-SemiBold.ttf);
}

@font-face {
  font-family: "Yapari Wide";
  font-style: normal;
  font-weight: 500;
  src: url(./../fonts/Yapari-BoldWide.ttf);
}

@font-face {
  font-family: "Yapari Expanded";
  font-style: normal;
  font-weight: 500;
  src: url(./../fonts/Yapari-SemiBoldExpanded.ttf);
}

@font-face {
  font-family: "Yapari Expanded";
  font-style: normal;
  font-weight: 700;
  src: url(./../fonts/Yapari-BoldExpanded.ttf);
}

@font-face {
  font-family: "Yapari Ultra Expanded";
  font-style: normal;
  font-weight: 500;
  src: url(./../fonts/Yapari-UltraExpanded.ttf);
}

@font-face {
  font-family: "Yapari";
  font-style: normal;
  font-weight: 600;
  src: url(./../fonts/Yapari-Bold.ttf);
}

@font-face {
  font-family: "Yapari";
  font-style: normal;
  font-weight: 700;
  src: url(./../fonts/Yapari-ExtraBold.ttf);
}


@font-face {
  font-family: "Gotham";
  font-style: normal;
  font-weight: 300;
  src: url(./../fonts/Gotham-Light.otf);
}


@font-face {
  font-family: "Gotham";
  font-style: normal;
  font-weight: 700;
  src: url(./../fonts/GothamBold.ttf);
}
